<div class="container">
  <div class="row">
    <div class="col-md-12">
     <h2>Propositions</h2>
     <hr class="short">
   
       <div class="container">

         <div class="row">

           <% @ads.each do |e| %>
            <div class="col-md-4">  
     
  	    <p><%= e.name %></p> 
  	    <p><%= e.description %></p>
        <p><%= e.price %></p>
        <img src="<%= e.img_url %>">
      	
    
      	<p><%= link_to "Show", ad_path(e)  %></p> 

  	    <p><%= link_to "Edit", edit_ad_path(e)  %></p> 
  	    <p><%= link_to 'Delete', ad_path(e), :method => :delete %></p> 
  	    
     
   

   
  </div>
   <%end%>
 </div>
</div>
</div>
</div>


<%= link_to "New Proposition ", "new_ad_path"%>