<div class="container">
  <div class="row">
    <div class="col-md-12">
     <h2>生活提案</h2>
     <hr class="short">
   
       <div class="container">

         <div class="row">

           <% @ads.each do |e| %>
            <div class="col-md-4">  
     
  	    <p><%= e.name %></p> 
  	    <p><%= e.description %></p>
        
        <img src="<%= e.img_url %>">
      	
    
      	<p><%= link_to "Show", ad_path(e)  %></p> 

  	    <p><%= link_to "Edit", edit_ad_path(e)  %></p> 
  	    <p><%= link_to 'Delete', ad_path(e), :method => :delete, data: { confirm: 'Are you sure?' } %></p> 
   
  </div>
   <%end%>
 </div>
</div>
</div>
</div>


<%= link_to '新增生活提案', new_ad_path %>