
<p>
  <strong>主題名稱:</strong>
  <%= @ad.name %>
</p>

<p>
  <strong>主題描述:</strong>
  <%= @ad.description %>
</p>


<p>
  <strong>email:</strong>
  <%= @ad.email %>
</p>

<img src="<%= @ad.img_url %>">


<p><%= link_to 'Back to index', ads_path %></p>

<%= link_to 'Edit', edit_ad_path(@ad) %> 