<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :活動主題 %>
    <%= f.text_field :title ,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :category_id, "Category" %>
    <%#= f.select :category_id, Category.all.map{ |x| [x.name, x.id]} ,:class => "form-control"%>

    <%#= f.collection_select :category_id, Category.all, :id, :name, :class => "form-control", :prompt => "Please select"%>
    <% Category.all.each do |c| %>
     <%= f.radio_button :category_id, c.id %><%=c.name %> 
    <% end -%>

  </div>

  <div class="form-group">
    <%= f.collection_check_boxes(:group_ids, Group.all, :id, :name) %>
  </div>


  <div class="form-group">
    <%= f.label :展演人 %>
    <%= f.text_field :artist ,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :活動簡介 %>
    <%= f.text_area :description ,:class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :價格 %>
    <%= f.text_field :price ,:class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :購票開始日 %>
    <%= f.date_select :start_date ,:class => "form-control"%>
  </div>
  <div class="form-group">
    <%= f.label :購票結束日 %>
    <%= f.date_select :end_date ,:class => "form-control"%>
  </div>

  <div class="form-group">
    <%= f.label :活動日期 %>
    <%= f.date_select :event_date ,:class => "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :備註 %>
    <%= f.text_area :information ,:class => "form-control"%>
  </div>

   <div class="form-group">
    <%= f.label :活動地點 %>
    <%= f.text_field :location ,:class => "form-control"%>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
