<p id="notice"><%= notice %></p>

<h1></h1>

<section class="banner">
    <div class="intro-wrapper">
      <!-- <div class="intro-text">Welcome to Epoch</div> -->
      <h2>EPOCH</h1>
      <div class="subtitle">
        (n) a particular period of time in history or a person's life.
      </div>
    </div>
    
      <a href="<%= ads_path%>" class="button"> 更多提案</a>
  </section>

  

<div class="container">
 <div class="row">
  <div class="col-md-12">
   <div class="table-responsive">
   <%= link_to '活動地點排序', events_path( :order => "location") %>
   <%= link_to '活動日期排序', events_path( :order => "event_date") %>
   <table class="table">
    <%= form_tag events_path, :method => :get do %>
      <%= text_field_tag "keyword" %>
      <%= submit_tag "搜尋展演人" %>
    <% end %>
    <thead>
    <h2>大人物EPOCH</h2>
     <tr>
      <th>Category</th>
      <th>展演人</th>
      <th>活動簡介</th>
      <th>價格</th>
      <th>購票結束日</th>
      <th>活動日期</th>
      <th>地點</th>
      <th colspan="3"></th>
     </tr>
   </thead>

   <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.category.try(:name) %></td>
        <td><%= event.artist %></td>
        <td><%= event.description %></td>
        <td><%= event.price %></td>
        <td><%= event.end_date %></td>
        <td><%= event.event_date %></td>
        <td><%= event.location %></td>
        <td><%= link_to 'More', event %></td>
        <td><%= link_to "Attendees List", event_attendees_path(event), :class => "btn btn-primary" %></td>

        <td><%= link_to "活動報名", new_event_attendee_path(event) %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>

      </tr>
      <% end %>
      
    </tbody>
    <%= paginate @events %>
   </table>

   </div>
  </div>
 </div>
</div>
<br>
<%= link_to 'New Event', new_event_path %>
