<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">

<p>
  <strong>活動主題:</strong>
  <%= @event.title %>
</p>


<p>
  <strong>展演人:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>活動簡介:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>價格:</strong>
  <%= @event.price %>
</p>

<p>
  <strong>購票開始日:</strong>
  <%= @event.start_date %>
</p>
<p>
  <strong>購票結束日:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>活動日期:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>備註:</strong>
  <%= @event.information %>
</p>

<p>
  <strong>活動地點:</strong>
  <%= @event.location %>
</p>



<%= link_to 'Edit', edit_event_path(@event) %><br> 
<%= link_to 'Back', events_path %>
</div>
</div>
</div>

