<p id="notice"><%= notice %></p>
<div class="container">
  <div class="row">
    <div class="col-md-12">
<p>
  <strong>Event Organizer:</strong>
  <%= @event.artist %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event.description %>
</p>

<p>
  <strong>Price from:</strong>
  <%= @event.price_low %>
</p>

<p>
  <strong>Price to:</strong>
  <%= @event.price_high %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event.event_date %>
</p>

<p>
  <strong>Information:</strong>
  <%= @event.information %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event.location %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %><br> 
<%= link_to 'Back', events_path %>
</div>
</div>
</div>

