<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || "EPOCH" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body >
    <header id="header">
    <div class="container clearfix">
      <div id="logo">
        <a href="<%= events_path%>">
          <img src="https://api.fnkr.net/testimg/170x108/00CED1/FFF/?text=EPOCH" alt="logo">
        </a>
        
      </div>
      <nav>
        <ul class="clearfix">
          <li>
            <a href="<%= events_path %>">首頁</a>
          </li>
          <li>
            <a href="#">關於我們</a>
          </li>
          <li>
            <a href="<%=ads_path%>">生活提案</a>
          </li>
          <li>
            <a href="#">聯絡資訊</a>
          </li>
          
        </ul>
      </nav>
      
    </div>
  </header>
      <p style="color: green"><%= flash[:notice] %></p>
      <p style="color: red"><%= flash[:alert] %></p>
      <%= yield %>
      <br>
      <%= link_to "admin", admin_events_path %>
      
  </body>
</html>